* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	font-family:'Brandon Text W01 Regular';
	font-size: 11pt;
	color: black;
	line-height: 1.5em;
}
p {
	margin:0;
}
a {
	text-decoration: none;
	color: black;
	-webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}
h1 {
	margin: 0;
	font-weight: normal;
	font-family:'Brandon Text W01 Bold';
}
h2 {
	margin: 0;
	font-weight: normal;
	font-family:'Brandon Text W01 Regular';
}
h3 {
	margin: 0;
	font-weight: normal;
}
h4 {
	margin: 0;
	font-family:'Brandon Text W01 Bold';
}
.clear {
	clear: both;
}
/*------------------------------------------------------ HEAD */
.head {
	width: 925px;
	margin: 0 auto;
	position: fixed;
	top:0;
	left:50%;
	transform:translate(-50%,0);
	z-index: 2;
	height:79px;
}
/*------------------------------------------------------ HOME CONTENT */
.content {
	width: 925px;
	margin: 0 auto;
	height: auto;
	margin-top:53px;
	margin-bottom: 55px;
}
.home-podcasts {	
	max-width: 925px;
	margin:0 auto;
	height: auto;
}
/*------------------------------------------------------ PODCAST THUMBNAILS */
.podcast-thumbnail {
	float:left;
	margin: 50px 50px 0px 0px;
	height:340px;
	width:275px;
	position: relative;
}
.podcast-head {
	height:65px;
	width: 275px;
	position: absolute;
	padding: 10px;
	top: 0;
	left: 0;
	border:1px solid black;
	display: table;
}
.podcast-image {
	height: 275px;
	width: 275px;
	top: 50px;
	left: 0;
	position: absolute;
	border:1px solid black;
	border-top: none;
}
.header {
	display: table-cell;
	vertical-align: middle;
}
.episode {
	font-size: 8pt;
}
.name {
	font-family:'Brandon Text W01 Bold';
	font-size: 14pt;
	margin: 0;
	font-weight: normal;
	line-height: 1.2em;
	color: black;
}
.title {
	font-family: 'Brandon Text W01 Regular';
	font-size: 14pt;
	font-weight: normal;
	margin: 0;
	letter-spacing: .5px;
	color: black;
}
.last {
	margin-right:0;
}
/*------------------------------------------------------ PODCAST PAGES */
.podcast-episode {
	width: 700px;
	height: auto;
	float: left;
	/*border-right: 1px solid black;*/
}
.player {
	width: 300px;
	height: 300px;
	margin: 50px 50px 0 0;
	border:1px solid black;
	float: left;
}
.description {
	width: 300px;
	margin: 50px 50px 0 0;
	float: left;
}
.topics {
	width: 225px;
	margin-top: 50px;
	height: auto;
	float: left;
}
.topics ul, .topics li {
	float: none;
	text-decoration: none;
	list-style: none;
	font-size: 9pt;
}
.related {
	height: 125px;
	width: 125px;
	border: 1px solid black;
	float: left;
	margin: 50px 50px 0px 0px;
}