* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	font-family:'Brandon Text W01 Light';
	font-size: 11pt;
	color: black;
	line-height: 1.5em;
	background-color: rgb(240,240,240);
}
p {
	margin:10px 0px;
}
a {
	text-decoration: none;
	color: black;
	-webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}
h1 {
	margin: 0;
	font-weight: normal;
	font-family:'Brandon Text W01 Bold';
}
h2 {
	margin: 0;
	font-weight: normal;
	font-family:'Brandon Text W01 Light';
}
h3 {
	margin: 0;
	font-weight: normal;
}
h4 {
	margin: 0;
	font-family:'Brandon Text W01 Bold';
}
.clear {
	clear: both;
}
/*------------------------------------------------------ HEAD */
.head {
	width: 925px;
	margin: 0 auto;
	position: fixed;
	top:0;
	left:50%;
	transform:translate(-50%,0);
	z-index: 2;
	height:79px;
}
.nav {
	display: table;
}
.nav li {
	display: table-cell;
}
/*------------------------------------------------------ HOME CONTENT */
.content {
	width: 940px;
	margin: 0 auto;
	height: auto;
	margin-top:53px;
	margin-bottom: 55px;
}
.home-podcasts {	
	max-width: 940px;
	margin:0 auto;
	height: auto;
}
/*------------------------------------------------------ PODCAST THUMBNAILS */
.podcast {
	float:left;
	margin: 50px 20px 0px 0px;
	height:270px;
	width:300px;
	position: relative;
}
.podcast-head {
	height:120px;
	width: 300px;
	position: absolute;
	padding: 15px;
	top: 0;
	left: 0;
	/*border:1px solid black;*/
	/*display: table;*/
	color: white;
	/*background-color: rgb(120,110,170);*/
	background-color: lightslategrey;
	/*text-align: center;*/
}
.podcast-description {
	height: 150px;
	width: 300px;
	top: 120px;
	left: 0;
	position: absolute;
	/*border:1px solid black;*/
	border-top: none;
	padding:10px;
	background-color: white;
}
.header {
	/*display: table-cell;
	vertical-align: middle;*/
}
.episode {
	font-size: 18pt;
	/*font-family:'Brandon Text W01 Bold';*/
	font-family: 'Brandon Text W01 Light';
	letter-spacing: .5px;
	/*text-transform:uppercase;*/
}
.name, .bold {
	font-family: 'Brandon Text W01 Bold';
	/*letter-spacing: .25px;*/
	/*text-transform: none;*/
}
.title {
	font-family:'Brandon Text W01 Bold';
	font-size: 14pt;
	margin: 0;
	font-weight: normal;
	line-height: 1.4em;
	letter-spacing: .5px;
}
.quote {
	font-family: 'Brandon Text W01 Light';
	font-weight: normal;
	margin: 0;
	/*font-size: 10pt;*/
}
.age {
	font-family: 'Brandon Text W01 Light';
	font-weight: normal;
	margin: 0;
	font-size: 10pt;
}
.last {
	margin-right:0;
}
/*------------------------------------------------------ PODCAST PAGES */
.podcast-episode {
	width: 700px;
	height: auto;
	float: left;
	/*border-right: 1px solid black;*/
}
.player {
	width: 300px;
	height: 300px;
	margin: 50px 50px 0 0;
	border:1px solid black;
	float: left;
}
.description {
	width: 300px;
	margin: 50px 50px 0 0;
	float: left;
}
.summary {
	margin-top: 15px;
}
.topics {
	width: 225px;
	margin-top: 74px;
	height: auto;
	float: left;
}
.topics ul, .topics li {
	float: none;
	text-decoration: none;
	list-style: none;
	font-size: 9pt;
}
.related {
	height: 125px;
	width: 125px;
	border: 1px solid black;
	float: left;
	margin: 50px 50px 0px 0px;
}