* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	font-family:'Brandon Text W01 Light';
	font-size: 11pt;
	color: black;
	line-height: 1.5em;
	background-color: rgb(240,240,240);
}
p {
	margin:0px;
}
th {
	text-align: left;
}
td {
	background-color: white;
}
a {
	text-decoration: none;
	color: black;
	cursor: pointer;
	-webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    transition: .1s ease-out;
}
a:hover {
	text-decoration: underline;
}
h1 {
	margin: 0;
	font-weight: normal;
	font-family:'Brandon Text W01 Bold';
	font-size: 16pt
}
h2 {
	margin: 0;
	font-weight: normal;
	font-family:'Brandon Text W01 Light';
	font-size: 16pt;
}
h3 {
	margin: 25px 0px 0px 0px;
	font-weight: normal;
	/*font-family:'Brandon Text W01 Bold';*/
}
h4 {
	margin: 0;
	font-family:'Brandon Text W01 Bold';
}
.clear {
	clear: both;
}
/*------------------------------------------------------ HEAD */
.page-head {
	width: 100%;
	position: fixed;
	margin: 0 auto;
	top: 0px;
	left: 50%;
	transform:translate(-50%,0);
	z-index: 2;
	height:78px; 
	border:1px solid black;
	background-color: rgb(105,135,150);
}
.head {
	width: 960px;
	margin: 0 auto;
	position: fixed;
	top:0;
	left:50%;
	transform:translate(-50%,0);
	z-index: 2;
	height:80px;
	/*background-color: white;*/
}
.nav {
	float: left;
	position: absolute;
	right: 0px;
	bottom: 0;
}
.nav ul {
	list-style: none;
	padding: 0;
	color: white;
}
.nav li {
	font-family:'Brandon Text W01 Bold';
	display: inline-block;
	letter-spacing: .5px;
	margin-left: 20px;
	/*text-transform: uppercase;*/
	cursor: pointer;
	color:white;
	-webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.nav a {
	color: white;
}
table {
	border-collapse: collapse;
}
.sort {
	float: left;
	position: fixed;
	width: 220px;
	z-index: 1;
	left: 930px;
	top:130px;
	font-size: 9pt;
}
.center {
	text-align: center;
}
.sort th {
	font-family:'Brandon Text W01 Bold';
	letter-spacing: .5px;
}
.sort td, .sort th {
	padding: 5px 10px;
}
.sort td {
	cursor: pointer;
	width: 110px;
}
.active {
	background-color: rgb(105,135,150);
	color: white;
	/*border:1px solid black;*/
}
/*------------------------------------------------------ HOME CONTENT */
.content {
	width: 960px;
	margin: 0 auto;
	height: auto;
	margin-top:110px;
	margin-bottom: 55px;
	position: relative;
}
.home-podcasts {	
	max-width: 720px;
	width: 720px;
	/*margin:0 auto;*/
	height: auto;
	margin-top: 20px;
}
/*------------------------------------------------------ PODCAST THUMBNAILS */
.podcast {
	float:left;
	margin: 10px 20px 0px 0px;
	height:250px;
	width:220px;
	position: relative;
}
.podcast-head {
	height:70px;
	width: 220px;
	position: absolute;
	padding: 10px 15px;
	top: 0;
	left: 0;
	border:1px solid black;
	/*display: table;*/
	color: white;
	background-color: rgb(105,135,150);
	/*text-align: center;*/
	/*background-image: url('images/justin.jpg');*/
	background-size: 300px;
	background-position: top center;
}
.podcast-description {
	height: 150px;
	width: 220px;
	top: 70px;
	left: 0;
	position: absolute;
	border:1px solid black;
	border-top: none;
	padding: 10px 15px;
	/*background-color: white;*/
	font-size: 11pt;
	line-height: 1.7em;
	text-indent: -4px;
	/*background-image: url('images/justin.jpg');
	background-position: top center;
	opacity: .2;*/
}
.header {
	/*display: table-cell;
	vertical-align: middle;*/
}
.episode {
	font-size: 14pt;
	font-family:'Brandon Text W01 Bold';
	/*font-family: 'Brandon Text W01 Light';*/
	letter-spacing: .5px;
	/*text-transform:uppercase;*/
}
.name, .bold {
	font-family: 'Brandon Text W01 Bold';
	font-size: inherit;
	/*letter-spacing: .25px;*/
	/*text-transform: none;*/
}
.size {
	font-size: 14pt;
}
.title {
	/*font-family:'Brandon Text W01 Bold';*/
	font-family: 'Brandon Text W01 Light';
	font-size: 11pt;
	/*margin: 0;*/
	font-weight: normal;
	line-height: 1.4em;
	letter-spacing: .5px;
}
.p-top {
	margin:5px 0px;
}
.quote {
	font-family: 'Brandon Text W01 Light';
	font-weight: normal;
	margin: 0;
	/*font-size: 10pt;*/
}
.age {
	font-family: 'Brandon Text W01 Light';
	font-weight: normal;
	margin: 0;
	font-size: 10pt;
}
/*------------------------------------------------------ PODCAST PAGES */
.podcast-episode {
	width: 700px;
	height: auto;
	float: left;
	/*border-right: 1px solid black;*/
}
.player {
	width: 300px;
	height: 300px;
	margin: 25px 50px 0 0;
	border:1px solid black;
	float: left;
}
.description {
	width: 300px;
	margin: 25px 50px 0 0;
	float: left;
}
.summary {
	margin-top: 15px;
}
.topics {
	width: 220px;
	margin-top: 40px;
	height: auto;
	float: left;
}
.topics ul, .topics li {
	float: none;
	text-decoration: none;
	list-style: none;
	font-size: 9pt;
	margin: 0;
	padding:0;
}
.topics li {
	/*margin-top: 15px;*/
}
.related {
	height: 125px;
	width: 125px;
	border: 1px solid black;
	float: left;
	margin: 25px 50px 0px 0px;
	position: relative;
}
.related img {
	max-height: 123px;
	max-width: 123px;
}
.overlay {
	opacity: 0;
	height: 123px;
	width: 123px;
	position: absolute;
	/*top: 1px;
	left: 1px;*/
	background-color: rgb(105,135,150);
	color: white;
	-webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.overlay p {
	/*font-family:'Brandon Text W01 Bold';*/
	position: absolute;
	left: 50%;
	top: 45%;
	transform:translate(-50%,-50%);
	font-size: 11pt;
	letter-spacing: .5px;
	width: 110px;
	text-align: center;
	-webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.related:hover .overlay {
	opacity: 1;
	-webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.last {
	margin-right:0;
}







